[submodule "frontend"]
	path = frontend
	url = https://github.com/shim369/Nextjs-Laravel-Crud-Test-App-Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/shim369/Nextjs-Laravel-Crud-Test-App-Backend
